* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

textarea {
  resize: none;
  outline: none;
}

button {
  outline: none;
}

/*************************
    Home Container
*************************/

.home-container {
  height: 96vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "sidebar project"
}

.sidebar-container {
  grid-area: sidebar;
  width: 75%;
  margin: 1.5em auto;
  background: rgb(white);
  
}

.project-container {
  grid-area: project;
  margin-top: 1.5em;
}

.single-project-container {
  display: flex;
  flex-wrap: wrap;
}

/*************************
    ListCard Container
*************************/

.list-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  align-items: flex-start;
  width: 100vw;
  height: 90vh;
}


.list-card-container {
  display: flex;
  border-radius: 5px;
  min-width: 18rem;
  max-width: 20rem;
  word-break: break-all;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 auto;
  background: rgb(214, 214, 214);
  font-size: 10px;
  margin: 10px;
  padding: 1em;
  cursor: pointer;
  /* width: 33.3%; */
}

/*******************************
     ListContainer Component
*******************************/

.list-container-add-list-btn:hover {
  background: rgb(233, 233, 233)
}

.list-container-add-list-btn input[type='text'] {
  height: 3em;
  border: 1px solid rgb(39, 126, 224);
}

.list-container-form {
  display: flex;
  border-radius: 5px;
  min-width: 14rem;
  max-width: 20rem;
  flex-wrap: wrap;
  flex: 1 1 auto;
  background: rgb(214, 214, 214);
  font-size: 10px;
  margin: 10px;
  padding: 1em;
}

.list-container-form-submit-wrapper {
  display: flex;
  justify-content: space-between;
 
}

.list-container-form input:first-child {
  width: 100%;
  height: 30px;
  margin-bottom: 1em;
}

.list-container-form input[type='submit'] {
  color: white;
  background: rgb(99, 98, 98);
  height: 35px;
  width: 65px;
  border-radius: 10px;
}

.list-container-form input[type='submit']:hover {
  background: black;
  cursor: pointer;
  display: inline-block;
}

.list-container-form h2 {
  background: rgb(214, 214, 214);
  font-size: 2.7em;
  color: grey;
  margin-left: 210px;
  cursor: pointer;
}

.list-container-form h2:hover {
  color: black;
}

/****************************  
    List-Card_Form
****************************/

.list-card-form textarea {
  font-size: 1.5em;
  width: 100%;
  height: 60px;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
  border: none;
}

.list-card-form input[type='submit'] {
  color: white;
  background: rgb(99, 98, 98);
  height: 35px;
  width: 65px;
  border-radius: 10px;
}

.list-card-form input[type='submit']:hover {
  background: black;
}

.list-card-form-wrapper {
  display: flex;
}

.list-card-form h2 {
  background: rgb(214, 214, 214);
  font-size: 2.7em;
  color: grey;
  margin-left: 180px;
  cursor: pointer;
}

.list-card-form h2:hover {
  color: black;
}

/*************************
    Header Component
*************************/

.header {
  background: rgb(130, 240, 203);
}

.header-container {
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 2em;
}

.header ul li {
  display: inline-block;
  margin-left: 15px;
}

.header ul li a:hover {
  color: rgb(252, 252, 252);
}

.header a {
  padding: 15px;
}

.header a:visited {
  color: black;
} 

/*************************
     About Component
*************************/

.about-container {
  color: black;
  font-size: 1.5em;
  width: 75%;
  margin: 10px auto;
  text-align: center
}

/*************************
     Project Component
*************************/

.project {
  margin: 1.3em;
  background: rgb(224, 224, 224);
  height: 150px;
  width: 150px;
}

/*************************
  Signup/Login Component
*************************/

.login-component {
  text-align: center;
}

.login-component input {
  height: 40px;
  width: 240px;
  margin: 1em;
}

#login-header {
  margin: 10px 0 2em;
  text-align: center;
  font-size: 20px;
}

.login-component input[type=submit] {
  background: rgb(130, 240, 203);
  border: 1px solid rgb(206, 205, 205);
  border-radius: 15px;
  outline: none;
  width: 200px;
  cursor: pointer;
  font-size: 1em;
}

.login-component input[type=submit]:hover {
  color: white;
  background: rgb(87, 228, 181);
}


/*************************
      Card Component
*************************/

.to-do-card {
  margin: 10px 0;
  background: white;
  font-size: 8px;
  padding: 10px;
  border-radius: 10px;
}


.add-card-btn {
  margin-top: 15px;
  height: 30px;
  width: 90px;
  border-radius: 10px;
}

.add-card-btn:hover {
  background: black;
  color: white;
}


/*************************
      Images
*************************/

#puglove {
  margin-top: 5em;
}

#doggie-running {
  margin-top: 15em;
  width: 10em;
}